myLight.json
[{"id":"a1d132a.6f3255","type":"ui_gauge","z":"deb0d57.1c46528","name":"brightness gauge","group":"264d5a8f.a479c6","order":2,"width":"3","height":"3","gtype":"gage","title":"Prefered Brightness","label":"units","format":"481","min":0,"max":"1000","colors":["#00b500","#00f900","#ca3838"],"seg1":"","seg2":"","x":983.0000915527344,"y":114,"wires":[]},{"id":"2c50a00b.27ba18","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"muma","applicationId":"","deviceType":"sensortag1350","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":92,"y":116,"wires":[["cd1abd20.9e3","d1575727.872fa"]]},{"id":"f515c020.8e4d3","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":966.0001525878906,"y":182,"wires":[]},{"id":"2e3ab72.272c148","type":"ui_text","z":"deb0d57.1c46528","group":"264d5a8f.a479c6","order":4,"width":"6","height":"2","name":"last update","label":"last update","format":"{{msg.payload}}","layout":"row-spread","x":966.0002136230469,"y":246.00006103515625,"wires":[]},{"id":"cd1abd20.9e3","type":"function","z":"deb0d57.1c46528","name":"isPersonellHere_(brightness of 0f04-Tag)","func":"if(msg.payload.d.ext_addr === \"0x124b000bcd0f04\"){ \n    return {payload:msg.payload.d.smart_objects.illuminance[0].sensorValue};\n}","outputs":1,"noerr":0,"x":351,"y":183,"wires":[["f515c020.8e4d3","177d36a6.d4b341","8cf28fa2.4f724"]]},{"id":"8cf28fa2.4f724","type":"function","z":"deb0d57.1c46528","name":"timestamp","func":"return {payload:msg.payload = new Date().toString()};","outputs":1,"noerr":0,"x":696.0002136230469,"y":247.00009155273438,"wires":[["2e3ab72.272c148","f515c020.8e4d3"]]},{"id":"5fb64298.2f5554","type":"ui_gauge","z":"deb0d57.1c46528","name":"Final Brightness","group":"264d5a8f.a479c6","order":3,"width":"10","height":"7","gtype":"gage","title":"Final Light Brightness","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#fefb00","#00f900","#e22400"],"seg1":"","seg2":"","x":976.0002136230469,"y":361.00010681152344,"wires":[]},{"id":"177d36a6.d4b341","type":"function","z":"deb0d57.1c46528","name":"final brightness calculator","func":"if(Number(msg.payload) > 900){\n    return {payload:msg.payload = 1000};\n}\nif(Number(msg.payload) < 900 && Number(msg.payload) > 100){\n    var count = context.get('count')||-1;\n    return {payload:msg.payload = 481};\n\n}\nif(Number(msg.payload) < 100){\n    return {payload:msg.payload = 0};\n}","outputs":1,"noerr":0,"x":725.0001525878906,"y":361.00010681152344,"wires":[["5fb64298.2f5554"]]},{"id":"fd2d7e6c.b7d41","type":"function","z":"deb0d57.1c46528","name":"emergency sequence (Brightness Ef01)","func":"if(msg.payload.d.ext_addr == \"0x124b000bccef01\"){\n    if(Number(msg.payload.d.smart_objects.illuminance[0].sensorValue) > 100){\n        var count = context.get('count')||0;\n        if(count == 0){\n            count = 1000;\n        }else{\n            count = 0;\n        }\n        context.set('count',count);\n        return {payload:msg.payload = count};\n    }\n}","outputs":1,"noerr":0,"x":335,"y":430.0000457763672,"wires":[["177d36a6.d4b341","7d50c32f.fdb4ac","8cf28fa2.4f724"]]},{"id":"b66bfd47.dc6288","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"muma","applicationId":"","deviceType":"sensortag1350","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":106,"y":430.00001525878906,"wires":[["fd2d7e6c.b7d41"]]},{"id":"7d50c32f.fdb4ac","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":968.0000305175781,"y":466.00001525878906,"wires":[]},{"id":"d1575727.872fa","type":"function","z":"deb0d57.1c46528","name":"personal brightness preference","func":"return {payload:msg.payload = 481};\n","outputs":1,"noerr":0,"x":322.0000305175781,"y":113,"wires":[["a1d132a.6f3255"]]},{"id":"bfea52db.f10ce8","type":"ui_text","z":"deb0d57.1c46528","group":"264d5a8f.a479c6","order":1,"width":"14","height":"2","name":"","label":"MyLight","format":"{{msg.payload}}","layout":"row-center","x":99.42855834960938,"y":68.28571510314941,"wires":[]},{"id":"264d5a8f.a479c6","type":"ui_group","z":"","name":"MyLight","tab":"9402cdc6.34e708","disp":true,"width":"14"},{"id":"9402cdc6.34e708","type":"ui_tab","z":"","name":"MyLight","icon":"dashboard"}]
